.banner {
    width: 100%;
    margin: .5em auto;
}

.banner > h1 {
    font-family: sans-serif;
    text-align: center;
}

body {
    background: url("/assets/bg.jpg") no-repeat;
    background-size: cover;
}