<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css"/>
    <title>ER Network Calculator</title>
</head>
<body style="font-family: monospace">
{{ template "header.html" }}

{{ if .Error }}
<h3>Error: {{ .Error }}</h3>
{{ end }}
{{ if .CAddr }}
        <p>Address: {{ .CAddr.Print }}</p>
        <p>Binary: {{ .BinAddr }}</p>
        {{ if .IsCidr }}
            <p>Network Address: {{ .Network }}</p>
        {{ end }}
        <p>Type:
        {{ if not .IsIpv6 }}
            {{ with .CAddr.GetClass }}
                {{ if eq . 0 }}
                    CIDR
                {{ else if eq . 1 }}
                    Class A
                {{ else if eq . 2 }}
                    Class B
                {{ else if eq . 3 }}
                    Class C
                {{ else if eq . 4 }}
                    Class E
                {{ end }}
            {{ end }}
        {{ end }}
        {{ with .CAddr.GetType }}
            {{ if eq . 8 }}
                Loopback
            {{ else if eq . 9 }}
                APIPA
            {{ else if eq . 10 }}
                Broadcast
            {{ else if eq . 11 }}
                Multicast
            {{ else if eq . 12 }}
                Network
            {{ else if eq . 14 }}
                Link-local unicast
            {{ else if eq . 15 }}
                Unique local unicast
            {{ else if eq . 16 }}
                Unspecified (unicast)
            {{ else if eq . 17 }}
                Embedded IPv4
            {{ else if eq . 18 }}
                Well-known multicast
            {{ else if eq . 19 }}
                Transient multicast
            {{ else }}{{/* 13, -1 (unknown) */}}
                Unicast
            {{ end }}
        {{ end }}
        </p>

        {{ if not .SubnetErr }}
            <table>
                <tr>
                    <th>#</th>
                    <th>Subnet<sub>16</sub></th>
                    <th>Subnet<sub>2</sub></th>
                </tr>
                {{ range $i, $s := .Subnets }}
                    <tr>
                        <td>{{ $i }}</td>
                        <td>{{ $s.Print }}</td>
                        <td>{{ $s.PrintBinary }}</td>
                    </tr>
                {{ end }}
            </table>
        {{ else }}
            Cannot subnet: {{ .SubnetErr.Error }}
        {{ end }}
{{ else }}
    <h3>Enter an address</h3>
{{ end }}
<form action="/" method="get">
    <input name="addr" type="text" placeholder="IPv4/6 address, prefix optional">
    <input name="subnets" type="number" placeholder="# desired subnets or nil">
    <input type="submit">
</form>
</body>
</html>